@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #333333;

  --link: #757575;
  --disabled: #949494;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("/fonts/proximanova_light.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("/fonts/proximanova_bold.otf") format("opentype");
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Proxima Nova Light", Helvetica, sans-serif;
  letter-spacing: 0.05em;
}

h1.title {
  font-family: "Proxima Nova Bold", Helvetica, sans-serif;
}

a {
  color: var(--link);
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: var(--disabled);
}

section + section {
  border-top: 2px solid #eeeeee;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
